schemas/highlight-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="highlight-response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="input" type="xs:string"/>
                <xs:element name="language-alias" type="xs:string"/>
                <xs:choice>
                    <xs:element name="highlighted" type="xs:string"/>
                    <xs:element name="failure" type="xs:string"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
